{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Posts</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Createdate</th>
                <td>{{ entity.createDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Post</th>
                <td>{{ entity.post }}</td>
            </tr>
            {% if entity.user %}
            <tr>
                <th>User</th>
                <td>{{entity.user.name}}</td>
            </tr>
            {% endif %}

        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('posts') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('posts_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('posts_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
